*{
     margin: 0px;
}
#Body{
     background-image: url('casaRedBaixo.png');
     background-repeat: no-repeat; 
     background-position: center center; 
     background-size: cover;
     border: 3px solid black;     
     padding: 72%;
     position: absolute;
     margin: 0px;
}

#red{
     width: 20%;
     position: absolute;
     left: 50%;
     top:10%;
}
#BoxControls{
     position: absolute;
     left: 27%;
     top: 75%;
     width: 100%;
}
#BoxControl1{
     text-align: center;
}
#BoxControl2{
     text-align: center;
}
.control{
     width: 20%;
     padding-bottom: 10%;
     
}
